.card {
    width: 413px;
    position: relative;
}
 
 
 
.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}

.card__image:hover {
    opacity: 0.8;
}
 
 
.card__content {
display: flex;
align-items: center;
justify-content: space-between;
}
 
 
.card__title {
margin: 12px 0 0;
font-family: 'Poppins' , sans-serif;
font-size: 20px;
font-weight: 500;
color: rgba(33, 33, 33, 1);
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
 
.card__delete-button {  
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    
    background-image: url(../images/delete-icon.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 16px 16px;
    cursor: pointer;
    background-position: center;
    z-index: 2;
}

.card__delete-button:hover {
    background-color: rgba(255, 101, 101, 1);
}
    

.card__like-button {
    background-image: url(../images/like-icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

    
.card__like-button:hover {
    opacity: 1;
}


.card__like-button_liked {
    background-image: url(../images/red-like-icon.svg);
    opacity: 1;
}

.card__like-button_liked:hover {
    opacity: 0.4;
}
 
 
 
 
@media screen and (max-width: 627px) {
    .card {
        width: 288px;
    }
 
    .card__image {
        width: 100%;
        height: 220px;
    }
 
    .card__title {
        font-size: 17px;
    }
}