.cards {
padding-top: 20px;
}

.cards__list {
list-style-type: none;
padding: 0;
margin: 0;
display: grid;
grid-template-columns: repeat(auto-fit, 413px);
justify-content: center;
gap: 40px 20px;
}

@media screen and (max-width: 1024px) {
    .cards {
        padding-bottom: 40px;
    }

    .cards__list {
        gap: 32px 16px;
    }
}

@media screen and (max-width: 627px) {
    .cards__list {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 24px;
    }
}

