.header {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.header__logo {
    margin: 0 auto;
    width: 94px;
    height: 26px;
    display: block;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 24px 24px 0;
    }

    .header__logo {
        width: 150px;
    }
}

@media screen and (max-width: 627px) {
    .header {
        padding: 16px 16px 0;
        display: flex;
        justify-content: center;
    }

    .header__logo {
        width: 120px;
    }
}


