
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    padding: 0 16px;

}

.modal_is-opened {
    visibility: visible;
}

.modal__container {
    gap: 32px;
    max-width: 730px;
    width: 100%;
    padding: 32px 50px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: relative;

}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    opacity: 0.4;
}

.modal__title{
   margin: 0 0 32px;
   font-size: 32px;
   font-weight: 500;
   width: 169px;
   height: 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 32px

}

.modal__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(33, 33, 33, 0.7);
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    max-width: 630px;
    height: 52px;
    padding: 16px 12px;
    border: 1px solid rgba(33, 33, 33, 0.4);
    border-radius: 8px;
    font-size: 16px;
}

.modal__input::placeholder {
    color: rgba(33, 33, 33, 0.3)

}

.modal__submit-btn {
    align-items: flex-start;
    width: 156px;
    height: 52px;
    padding: 18px 32px;
    border-radius: 8px;
    background-color:  black;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;

}

@media (max-width: 600px) {
    .modal {
        align-items: flex-start;
        padding-top: 40px;
    }
    
    .modal__container {
        padding: 24px 16px;
        gap: 24px;
    }

    .modal__title {
        font-size: 20px;
    }

    .modal__label {
        font-size: 16px;
    }

    .modal__input {
        max-width: 100%;
        height: 48px;
        padding: 12px;
    }

    .modal__submit-btn {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .modal__close-btn {
        top: 16px;
        right: 16px;
    }
}